$navbar-default-bg: #BADA55;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}



.jumbotron {
  background-image: asset-url('sardinia.jpg');
  background-position-y: -90px;
  background-size: cover;
  height: 550px;

  h1 {
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
  }
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  // text-align: right;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #BADA55;
  padding: 20px;
  color: #777;
  small {
    float: left;
  }
  nav {
    ul {
      float: right;
      list-style: none;
      margin: 0;
    }
  }
}
